/* Mercury Planet */
*{
  scroll-behavior: smooth;
}
.mercury-p{
    
    width:100%;
    height:100%;
}
.first-line{
    position: absolute;
    display: inline-block;
    color: white;
    z-index: 1;
    top: 100px;
    left: 96px;
    font-size: 24px;
    border-right: 2px solid rgb(255, 255, 255);
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    width: 450px;
  animation: typing 5s steps(40) alternate, cursor 1s infinite;

}
@keyframes cursor {
    50%{ border-color: transparent}
    75%{ border-color: transparent;}
    100%{ border-color: transparent}
  } 
  
  @keyframes typing {
    from{ width:0 }
    to{ width:450px
     }
  }
  /* li.nav-m{ 
    position: sticky;
    top: 0;
   } */
  .heading-m{
    position: absolute;
    z-index: 2;
    top: 110px;
    left: 130px;
    color: rgb(255, 218, 84);
    font-size: 100px;
  }
  
  .navbar{
    position: sticky;
    top: 0px;
  }
  .para-m{
    font-size: 20px;
    position: absolute;
    z-index: 3;
    top: 310px;
    left: 40px;
    color: white;
    width: 550px;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
  }
  /* .box-t{
    color: black;
    opacity: 50%;
    width: 50px;
    height: 100px;
    z-index: 6;
    position: absolute;
    top: 150px;
    left: 300px;
  } */
  .button-m{
    position: absolute;
    z-index: 4;
    top: 480px;
    left: 216px;
    width: 200px;
    height: 50px;
    background: transparent;
    border:2px solid yellow;
    border-radius: 30px;
    /* border-color: rgb(255, 218, 84); */
    font-size: 18px;
    color:rgb(255, 218, 84);
    display: flex;
    align-items: center;
    justify-content: center;
    /* scroll-behavior: smooth; */
  }
  .button-m:hover{
    color: white;
    border-color: white;
  }
    .number{
      font-size: 40px;
      text-align: center;
      margin: 0;
     
    }
    .facts-m1{
      position: absolute;
      z-index: 5;
      top: 550px;
      left: 100px;
      color: white;
      font-size: 20px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri
      , 'Trebuchet MS', sans-serif;
      opacity: 60%;
      text-align: center;
      }
      .facts-m2{
        position: absolute;
        z-index: 5;
        top: 550px;
        left: 440px;
        color: white;
        font-size: 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri
        , 'Trebuchet MS', sans-serif;
        opacity: 60%;
        text-align: center;
        }
        .facts-m3{
          position: absolute;
          z-index: 5;
          top: 550px;
          left: 790px;
          color: white;
          font-size: 20px;
          font-family:'Gill Sans', 'Gill Sans MT', Calibri
          , 'Trebuchet MS', sans-serif;
          opacity: 60%;
          text-align: center;
          }
          .facts-m4{
            position: absolute;
            z-index: 5;
            top: 550px;
            left: 1090px;
            color: white;
            font-size: 20px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri
            , 'Trebuchet MS', sans-serif;
            opacity: 60%;
            text-align: center;
            }
            .facts-m1:hover{
              color:rgb(255, 218, 84);
              opacity: 100%;
            }
            .facts-m2:hover{
              color:rgb(255, 218, 84);
              opacity: 100%;
            }
            .facts-m3:hover{
              color:rgb(255, 218, 84);
              opacity: 100%;
            }
            .facts-m4:hover{
              color:rgb(255, 218, 84);
              opacity: 100%;
            }
            .lists-m1{
              list-style-type: none;
              color: white;
          font-size: 20px;
          font-family:'Gill Sans', 'Gill Sans MT', Calibri
          , 'Trebuchet MS', sans-serif;
          position: absolute;
          z-index: 6;
          top: 190px;
          left: 838px;
          font-size: 25px;
          /* opacity: 50%; */
        }
          .lists-m2{
          list-style-type: none;
          color: white;
          font-size: 20px;
          font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          position: absolute;
          z-index: 7;
          top: 190px;
          left: 1012px;
          opacity: 50%;
          font-size: 21px;
          
        }
        .lists-m1 > li{
          margin: 10px;
        }
        .lists-m2 > li{
          margin: 11px;
        }
        .lists-m1 > li:hover{
          color:rgb(255, 218, 84) ;
        }
        .lists-m2 > li:hover{
          color:rgb(255, 218, 84) ;
        }
            /***************************************************************/
        .venus-p{
          width: 100%;
          height: 100%;
        }      
        .black-bg{
          color: white;
          width: 1519px;
          height: 695px;
          position: absolute;
          top: 854px;
          left: 0px;
          display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
       }   
        .dy{
          font-size: 70px;
          color: rgb(255, 255, 255);
          padding-bottom: 0;
          margin: 0;
        }
        .para{
          margin: 0;
         
          font-size: 70px;
          color: rgb(255, 218, 84) ;
        }
        .para:hover{
        color:rgb(255, 255, 255);
        }
        .imgbox{
          height: 500px;
          width: 500px;
          border-radius: 10px;
          position: relative;
          top: 50px;
          left: 70px;
        } 
        /* .imgbox1{
          height: 500px;
          width: 500px;
          border-radius: 10px;
          position: relative;
          top: 120px;
          left: 0px;
        } */
        .sidebox1{
          height: 500px;
          width: 700px;
          border-radius: 10px;
          position: relative;
          top: 50px;
          left: -30px;
        }
        .lines{
          color: white;
          font-size: 20px;
          width: 700px;
          text-align: center;
          margin: 0;
        }
        .lines:hover{
          color:rgb(255, 218, 84);
        }
        .lastbox{
          height: 90px;
          width: 130px;
          border: 1px solid white;
          background-color: white;
          
        }
        .lastbox:hover{
          border: 3px solid ;
          border-color:rgb(255, 218, 84);
          height: 120px;
          width: 150px;
        }
        .mboxes{
          
          display: flex;
          justify-content: space-evenly;
          width: 800px;
          height: fit-content;

        }
        .lastimg{
          height: 70px;
          width: 120px;
          position: relative;
          left: 10px;
          padding-top: 10px;
        }
        .lastimg:hover{
          height:90px;
          width:140px;
          
        }
        .to{
          font-size: 30px;
          margin: 0;
          color: rgb(255, 218, 84);
          width: max-content;
        }
        .to:hover{
          color: white;
        }
        .table{
          width: 1474px;
          height: 70px;
          position: absolute;
          z-index: 10;
          top: 579px;
          left: 20px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
          
        }
        .level{
          text-decoration: none;
          color: white;
          display: flex;  
          flex-direction: column;
          list-style-type: none;
          padding: 0px;
        }
        .level li{
          padding: 5px;
        }
        .level li:hover{
          text-decoration:dotted;
          color: rgb(255, 218, 84);
        }
        .footer{
          position: absolute;
          width: 1420px;
          z-index: 11;
          top: 669px;
          left: 30px;
          color: white;
          opacity: 50%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }
        .hrline{
          color: rgba(255, 255, 255);
          opacity: 50%;
          height: 2px;
          width: 1471px;
          margin: 0;
          padding: 0;
          z-index: 12;
          position: absolute;
          top: 653px;
          left: 20px;
          border-top: none;
          border-right: none;
          border-left: none;
        }
        .footer li{
          list-style-type: none;
          padding-left:15px;
        }
        
        .leftb{
          align-items: center;
        }
        .rightb{
          display:flex;
          align-items: center;
          justify-content: space-evenly;
          text-align: center;
          flex-direction: column;
          flex-wrap: wrap;
          align-content: center;
          height: 600px;
        }

        .nav-m:hover{
          color: rgb(255, 218, 84);
        }
        


