html{
  margin: 0px;
  padding: 0px;
}
.background-img{
  width: 100%;
  height: max-content;
  
  /* overflow: hidden */
  margin-bottom: -48px;
}
.nav-m{
  padding: 25px;
}
.nav-m:hover{
  color:rgb(255, 218, 84);
        }
.components-2 > .nav-m:hover{
  color:rgb(255, 218, 84) ;
}

body{
  margin: 0px 0px;
  background-size: cover;
}
.components-1{
  list-style: none;
  display: flex;
  color: rgb(255, 255, 255);
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 0px;
  font-weight: 650;
  letter-spacing: 2px;
  
}
.components-2{
  list-style: none;
  display: flex;
  color: rgb(255, 255, 255);
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 400px;

}
/* li {
  padding: 25px; 
} */
a{
  text-decoration: none;
  color: white;
}
.line-1{
  position: absolute;
  display: inline-block;
  z-index: 2;
  top: 206px;
  left: 407px;
  color: white;
  font-size: 27px;
  border-right: 2px solid rgb(255, 255, 255);
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  animation: typing 4s steps(20) alternate, cursor 1s infinite;
}
/*  .line-2{
  position: absolute;
  z-index: 2;
  top: 260px;
  left: 515px;
  color: white;
  font-size: 60px; 
} */
.line-3{

  position: absolute;
  z-index: 2;
  top: 227px;
  left: 78px;
  color: white;
  font-size: 75px;
}
@keyframes cursor {
  50%{ border-color: transparent}
  75%{ border-color: transparent;}
  100%{ border-color: transparent}
} 

@keyframes typing {
  from{ width:0 }
  to{ width:300px
   }
}

